RewriteEngine On
RewriteRule ^dashboard/?$ dashboard.php [L]
RewriteRule ^products/?$ products.php [L]
RewriteRule ^products/deleted/?$ products.php?deleted=true [L]
RewriteRule ^products/failure/?$ products.php?failure=true [L]
RewriteRule ^products/added/([^/]+)/?$ products.php?added=$1 [L]
RewriteRule ^categories/?$ categories.php [L]
RewriteRule ^categories/([^/]+)/([^/]+)/?$ categories.php?mode=$1&result=$2 [L]
RewriteRule ^category_view/([^/]+)/?$ category_view.php?id=$1 [L]
RewriteRule ^product_view/([^/]+)/?$ product_view.php?id=$1 [L]
RewriteRule ^product_view/([^/]+)/error/?$ product_view.php?id=$1&error=true [L]
RewriteRule ^product_view/([^/]+)/added/?$ product_view.php?id=$1&added=true [L]
RewriteRule ^product_view/([^/]+)/edited/?$ product_view.php?id=$1&edited=true [L]
RewriteRule ^product_view/([^/]+)/deleted/?$ product_view.php?id=$1&deleted=true [L]