body {
    margin-bottom: 40px;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.row {
    margin-top: 10px;
}

.form-label {
    font-size: 20px;
}

.color-version-container {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.buttons-row {
    margin-top: 15px;
}

.images-row {
    margin: 10px 0 30px 0;
}

.product-image {
    width: 180px;
    max-height: 180px;
    object-fit: contain;
    border-radius: 10px;
    position: relative;
}

.product-image-container {
    width: 184px;
    position: relative;
    cursor: pointer;
}

.add_button_label {
    width: 180px;

}

.add-image-icon {
    width: 120px;
    margin: 0 30px 0 30px;
    cursor: pointer;
}

.delete-button {
    opacity: 0;
    transition: .2s;
    position: absolute;
    left: calc(50% - 36px);
    width: 72px;
}

.product-image-container:hover button {
    opacity: 1;
}

.main_product_image {
    border: 2px solid #0b4fb6 !important;
    border-radius: 10px;
}

.gallery-image {
    width: 190px;
    height: 190px;
    object-fit: contain;
    cursor: pointer;
}

.add-image-icon-gallery {
    width: 190px;
    height: 190px;
    padding: 45px;
}

.image-cell {
    margin-top: 20px;
}

.s_cell {
    padding: 5px;
}

.specification-container {
    padding: 0;
    margin-top: 20px;
}
