#products {
    margin-bottom: 20px;
}

.button-width {
    width: 120px;
    margin-left: 10px;
}

.no-underline {
    text-decoration: none;
}

.product-title {
    text-transform: uppercase;
    font-size: 20px;
}

.product-category {
    font-size: 18px;
}

.product-price {
    font-size: 20px;
}