.div-padding {
    padding: 20px;
}

.order-main {
    margin-top: 30px;
}

.order-main > .col-6 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product_id {
    min-width: 60px;
}

.order-status {
    margin: 10px 0;
}
