.product-view-card {
    max-width: 1500px;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 12px;
    padding: 20px 0 20px 0;
}

.number-of-items-input {
    text-align: right;
    width: 140px;
    font-size: 20px;
}

.show-variants-button {
    width: 182px;
    margin-top: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.product-specification-table {
    max-width: 1450px;
    margin-top: 20px;
}

.product-specification-table th {
    padding: 15px;
    font-size: 20px;
}

.product-specification-table td {
    width: 50%;
}

.pd-price {
    margin-top: 40px;
}

.pd_add_to_cart_row {
    margin-top: 30px;
    flex-wrap: nowrap;
}

.pd_add_to_cart_button {
    width: 140px;
}

.pd_available_in_stock {
    margin-top: 15px;
    font-size: 18px;
}

.pd_free_delivery_text {
    margin: 0 8px 0 8px;
    font-weight: 500;
}

.pd_truck_image {
    width: 25px;
    height: 25px;
}
