.product-view-card {
    max-width: 1500px;
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 12px;
    padding: 20px 0 20px 0;
}

.number-of-items-input {
    text-align: right;
    width: 140px;
    font-size: 20px;
}

.show-variants-button {
    width: 182px;
    margin-top: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.product-specification-table {
    max-width: 1450px;
    margin-top: 20px;
}

.product-specification-table th {
    padding: 15px;
    font-size: 20px;
}

.product-specification-table td {
    width: 50%;
}
