Order Allow,Deny
<FilesMatch "^get_user_address\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^get_shop_address\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^get_product_images\.php$">
Allow from all
</FilesMatch>