Order Allow,Deny
<FilesMatch "^get_user_address\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^get_shop_address\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^get_product_images\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^images_from_gallery\.php$">
Allow from all
</FilesMatch>
<FilesMatch "^get_product_specification_admin\.php$">
Allow from all
</FilesMatch>